
.badge{
  margin-top: -20px;
}

.dropdown-trigger{
  margin-right: 0;
}

#dropdown1{
  width: 250px !important;
}

@media screen and (min-width: 992px) {
    .brand-logo{
      margin-left: 1%;
    }
}
