.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.vert-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #00bfa5;
}

@media screen and (max-width: 1200px) {
  .recap-text{
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .recap-text{
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .recap-text{
    font-size: 15px;
    white-space: nowrap;
  }
  .vert-container{
    width: 30%;
  }
  .recapWhiteText{
    color: white;
  }
}
