
<div class="containter">


  <div class= "row">
    <div class= "col s4">

      <div class="row">
        <div class="col s11 ">
          <div class="card-panel teal">
            <span class="white-text">It's time to check the items you desire to exchange with the selected product!
            </span>
          </div>
        </div>
      </div>



      <form action="#">

        <p>
          <label>
            <input type="checkbox" />
            <span class = "white-text">Product name</span>
          </label>
        </p>

        <p>
          <label>
            <input type="checkbox" />
            <span class = "white-text">Product name</span>
          </label>
        </p>

        <p>
          <label>
            <input type="checkbox" />
            <span class = "white-text">Product name</span>
          </label>
        </p>

      </form>
    </div>
    <div class = "col s8" id="recapBox">
      <section class="section about-section gray-bg" id="about">
        <div class="row">
          <div class="col s8">
            <h4 id="recapText">SELECTED PRODUCT RECAP</h4>
          </div>
        </div>
        <div class="section-divisor">
          <p></p>
        </div>
        <div class="divider"></div>
        <div class="section-divisor">
          <p></p>
        </div>        <div class="row">
          <div class="col s2" id="productNameTitle">
            <p>Product name:</p>
          </div>
          <div class="col s4" id="productFieldRecap">
            <p class="text-darken-3">{{selectedProductName}}</p>
          </div>
        </div>
      </section>
  </div>
</div>
