<div class="card-panel teal hide-on-med-and-up">
  <span class="white-text">It's time to check the items you desire to exchange with the selected product!
  </span>
</div>
<div class="container">
  <div class="vert-container">
    <div class="card-panel teal hide-on-small-only">
      <span class="white-text">It's time to check the items you desire to exchange with the selected product!
      </span>
    </div>
    <div>
      <form action="#">
        <p *ngFor="let product of userProducts">
          <label>
            <input type="checkbox" (click)="checkOfferedProducts(product)" />
            <span class="white-text">{{product.name}}</span>
          </label>
        </p>
      </form>
    </div>
  </div>

  <div class="exchange-info">
    <section class="section about-section gray-bg " id="about">
      <div class="row center">
        <h4 class="recap-text recapWhiteText">SELECTED PRODUCT RECAP</h4>

      </div>
      <div class="section-divisor">
        <p></p>
      </div>
      <div class="divider"></div>
      <div class="section-divisor">
        <p></p>
      </div>
      <div class="row center-align">
        <p class="recapWhiteText">Product name: {{selectedProductName}}</p>
      </div>
    </section>
  </div>

</div>