<div>
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" [(ngModel)]="searchedString" name="searchedString" (input)="search()"
            required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons" (click)="clearSearchLists()">close</i>
        </div>
      </form>
    </div>
  </nav>
  <div class="button-container">
    <div class="row">
      <div class="col s4">
        <a class="waves-effect waves-light btn-large" (click)="selectOperation(1)"><i
            class="material-icons left">person</i>search profile</a>
      </div>
      <div class="col s4">
        <a class="waves-effect waves-light btn-large productsearch" (click)="selectOperation(2)"><i
            class="material-icons left">shopping_basket</i>search product</a>
      </div>
      <div class="col s4">
        <a class="waves-effect waves-light btn-large categories" (click)="selectOperation(0)"><i
            class="material-icons left">apps</i>categories</a>
      </div>
    </div>
  </div>
    <div class="center-align teal-text " *ngIf="!operationSelector"><span>Select your operation and start xchanging!</span><br><span>Your results will be shown right here</span></div>
  <div *ngIf="operationSelector == 1">
    <div class="collection" *ngFor="let user of searchedUserList">
      <a routerLink="/user/{{user._id}}" class="collection-item">{{user.username}}</a>
    </div>
  </div>
  <div *ngIf="operationSelector == 2">
    <div class="collection" *ngFor="let product of searchedProductList">
      <a routerLink="/user/{{product.sellerId}}" class="collection-item">{{product.name}}</a>
    </div>
  </div>
  <div *ngIf="operationSelector == 0">
    <div class="collection" *ngFor="let category of categoryList">
      <a routerLink="/categories/{{category.name}}" class="collection-item">{{category.name}}</a>
    </div>
  </div>
</div>
