
.card-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
overflow-y: hidden;
}

#homePageProductImage{
  height: 200px;
  overflow: hidden;
}

.modal-content, .modal-footer{
background: linear-gradient(to right, #00bfa5  0%, #00bfa5  55%, white 55%, white 100%);
}

.modal-footer{
  width: 100.3%;
}

.card {
width: 40vw;
}

.card, .card-reveal{
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.card-image img {
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

@media screen and (max-width: 992px) {
#homePageProductImage{
  height: 100px;
  overflow: hidden;
}
.card{
  width: 60vw;
}
.modal-content, .modal-footer{
  background: linear-gradient(to right, #00bfa5  0%, #00bfa5  61%, white 61%, white 100%);
  }
  .modal-footer{
    width: 101%;
  }
}

@media screen and (max-width: 600px) {
#homePageProductImage{
  height: 50px;
  overflow: hidden;
}
.card{
  width: 70vw;
}
.modal-content, .modal-footer{
  background: #00bfa5
  }
.modal-footer{
  width: 97%;
}
#closeButton{
  align-items: flex-end;
  background-color: #ee6e73;
}
}
