
.card-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
overflow-y: hidden;
}

#homePageProductImage{
  height: 200px;
  overflow: hidden;
}

#closeButton{
margin-top: -10px;
}

.modal-content, .modal-footer{
width: 100%;
background: linear-gradient(to right, #00bfa5  0%, #00bfa5  33%, white 30%, white 100%);
}

.card {
width: 40vw;
}

.card, .card-reveal{
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.card-image img {
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

@media screen and (max-width: 992px) {
#homePageProductImage{
  height: 100px;
  overflow: hidden;
}
.card{
  width: 60vw;
}
}

@media screen and (max-width: 600px) {
#homePageProductImage{
  height: 50px;
  overflow: hidden;
}
.card{
  width: 70vw;
}
}
