<div class="container center-align">
  <div *ngIf="!sellerId && !category">

    <div *ngFor="let product of productList; let i= index">

      <div *ngIf="i % 3 == 0" class="row">

        <div class="col s4">
        <div class="card-div">
          <div class="card hoverable">
            <div class="card-image" id="homePageProductImage">
              <img class="activator responsive-img" src="{{product.imageUrl}}">
            </div>
            <div class="card-content">
              <span class="card-title left-align activator grey-text text-darken-4">{{product.name}}<i
                  class="material-icons right">more_vert</i></span>
              <p class="left-align"><a class="waves-effect waves-light btn " routerLink="user/{{product.sellerId}}">Profile
                  link</a></p>
            </div>
            <div class="card-reveal">
              <div class="row card-title grey-text text-darken-4"><h5>{{product.name}}</h5><i class="material-icons right">close</i>
              </div>
              <div class="section-divisor">
                <p></p>
              </div>
              <div class="divider"></div>
              <div class="section-divisor">
                <p></p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Category: <br> {{product.category}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Views: <br> {{product.views}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Upload date: <br> {{product.uploadDate}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Interested users: <br> {{product.interestedUsers}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Description: <br> {{product.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="i + 1 < productList.length">
      <div class="col s4">
        <div class="card-div">
          <div class="card hoverable">
            <div class="card-image" id="homePageProductImage">
              <img class="activator responsive-img" src="{{productList[i+1].imageUrl}}">
            </div>
            <div class="card-content">
              <span class="card-title left-align activator grey-text text-darken-4">{{productList[i+1].name}}<i
                  class="material-icons right">more_vert</i></span>
              <p class="left-align"><a class="waves-effect waves-light btn " routerLink="user/{{productList[i+1].sellerId}}">Profile
                  link</a></p>
            </div>
            <div class="card-reveal">
              <div class="row card-title grey-text text-darken-4"><h5>{{productList[i+1].name}}</h5><i class="material-icons right">close</i>
              </div>
              <div class="section-divisor">
                <p></p>
              </div>
              <div class="divider"></div>
              <div class="section-divisor">
                <p></p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Category: <br> {{productList[i+1].category}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Views: <br> {{productList[i+1].views}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Upload date: <br> {{productList[i+1].uploadDate}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Interested users: <br> {{productList[i+1].interestedUsers}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Description: <br> {{productList[i+1].description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>


      <div *ngIf="i + 2 < productList.length">
      <div class="col s4">
        <div class="card-div">
          <div class="card hoverable">
            <div class="card-image" id="homePageProductImage">
              <img class="activator responsive-img" src="{{productList[i+2].imageUrl}}">
            </div>
            <div class="card-content">
              <span class="card-title left-align activator grey-text text-darken-4">{{productList[i+2].name}}<i
                  class="material-icons right">more_vert</i></span>
              <p class="left-align"><a class="waves-effect waves-light btn " routerLink="user/{{productList[i+2].sellerId}}">Profile
                  link</a></p>
            </div>
            <div class="card-reveal">
              <div class="row card-title grey-text text-darken-4"><h5>{{productList[i+2].name}}</h5><i class="material-icons right">close</i>
              </div>
              <div class="section-divisor">
                <p></p>
              </div>
              <div class="divider"></div>
              <div class="section-divisor">
                <p></p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Category: <br> {{productList[i+2].category}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Views: <br> {{productList[i+2].views}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Upload date: <br> {{productList[i+2].uploadDate}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Interested users: <br> {{productList[i+2].interestedUsers}}</p>
              </div>
              <div class="row">
                <p class="grey-text text-darken-4">Description: <br> {{productList[i+2].description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      </div>
    </div>

  </div>

  <div *ngIf="sellerId">
    <div class="card-div" *ngFor="let product of productList">
      <div *ngIf=" product.sellerId == sellerId">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{product.imageUrl}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 left-align">{{product.name}}<i
                class="material-icons right">more_vert</i></span>

            <p class="left-align"><a class="waves-effect waves-light btn modal-trigger" href="#modal1"
                (click)="setSelectedProduct(product)">Offer exchange</a>
            </p>
          </div>
          <div class="card-reveal">
            <div class="row card-title grey-text text-darken-4"><h5>{{product.name}}</h5><i
              class="material-icons right">close</i>
          </div>
          <div class="section-divisor">
            <p></p>
          </div>
          <div class="divider"></div>
          <div class="section-divisor">
            <p></p>
          </div>
          <div class="row">
            <p class="grey-text text-darken-4">Category: <br> {{product.category}}</p>
          </div>
          <div class="row">
            <p class="grey-text text-darken-4">Views: <br> {{product.views}}</p>
          </div>
          <div class="row">
            <p class="grey-text text-darken-4">Upload date: <br> {{product.uploadDate}}</p>
          </div>
          <div class="row">
            <p class="grey-text text-darken-4">Interested users: <br> {{product.interestedUsers}}</p>
          </div>
          <div class="row">
            <p class="grey-text text-darken-4">Description: <br> {{product.description}}</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="category">
    <div class="card-div" *ngFor="let product of productList">
      <div *ngIf="product.category == category">
        <div class="card ">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{product.imageUrl}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{product.name}}<i
                class="material-icons right">more_vert</i></span>
            <p><a class="waves-effect waves-light btn" href="user/{{product.sellerId}}">Profile link</a></p>
          </div>
          <div class="card-reveal">
            <div class="row card-title grey-text text-darken-4"><h5>{{product.name}}</h5><i
              class="material-icons right">close</i>
          </div>
          <div class="section-divisor">
            <p></p>
          </div>
          <div class="divider"></div>
          <div class="section-divisor">
            <p></p>
          </div>
          <div class="row">
            <p class="grey-text text-darken-4">Category: <br> {{product.category}}</p>
          </div>
          <div class="row">
            <p class="grey-text text-darken-4">Views: <br> {{product.views}}</p>
          </div>
          <div class="row">
            <p class="grey-text text-darken-4">Upload date: <br> {{product.uploadDate}}</p>
          </div>
          <div class="row">
            <p class="grey-text text-darken-4">Interested users: <br> {{product.interestedUsers}}</p>
          </div>
          <div class="row">
            <p class="grey-text text-darken-4">Description: <br> {{product.description}}</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <app-exchange [selectedProductName]="selectedProduct.name"></app-exchange>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn" id="closeButton"
      (click)="sendExchangeNotification(sellerId)">Let's exchange!</a>
  </div>
</div>
