<div class="container" *ngFor="let notification of userNotificationList">
  <li id="custom_li" *ngIf="!notification.read && notification.notificationType == 'exchangeRequest'"><a
              routerLink="/receivedxchangeoffer/{{notification._id}}"
              (click)="setNotificationRead(notification)">{{notification.body}}
              {{notification.senderUsername}}
              {{notification.date}}</a></li>


  <li id="custom_li" style="background-color: #eeeeee " *ngIf="notification.read && notification.notificationType == 'exchangeRequest'"><a>
              {{notification.body}}
              {{notification.senderUsername}}
              {{notification.date}}</a></li>

  <li id="custom_li" *ngIf="!notification.read && notification.notificationType == 'exchangeResult'"><a
            (click)="setNotificationRead(notification)">
            {{notification.body}}
            {{notification.senderUsername}}
            {{notification.date}}</a></li>

  <li id="custom_li" style="background-color: #eeeeee " *ngIf="notification.read && notification.notificationType == 'exchangeResult'"><a>
          {{notification.body}}
          {{notification.senderUsername}}
          {{notification.date}}</a></li>
  <li class="divider" tabindex="-1"></li>
</div>
