
body{
  color: #6F8BA4;
  margin-top:20px;
}

.theme-color {
  color: #fc5356;
}
.dark-color {
  color: #20247b;
}

.profile{
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.profile, .number-counter{
  border-radius: 20px;
  box-shadow: 0 2px 1px -1px #0003,0 1px 1px #00000024,0 1px 3px #0000001f;
}

.divider{
  background-color: #bdbdbd ;
}

.avatar-image {
  width: 250px;
  height: 250px;
  border-style: none;
}

.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

#aboutCol{
overflow-wrap: break-word;
}

.about-text p {
  font-size: 18px;
  max-width: 450px;
}

/* Counter */

.number-counter {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.counter .count{
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}

.count-data .counter{
  margin-top: 10px;
  margin-bottom: 10px;
}

.counter p{
  font-weight: 600;
  margin: 0;
}

.counter{
  background: #ffffff;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#messageButton{
  margin-top: 3%;
}

@media screen and (max-width: 1200px) {
  .about-text p {
    font-size: 15px;
  }
  .flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 992px) {
  .title{
    margin-top: 0%;
  }
  .about-text h3 {
    font-size: 35px;
  }
  .about-text p {
    font-size: 15px;
  }
  .avatar-image{
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .title{
    margin-top: 0%;
  }
  .about-text h3 {
    font-size: 25px;
  }
  .about-text p {
    font-size: 12px;
  }
  .avatar-image{
    width: 100px;
    height: 100px;
  }
}
