<section *ngIf="isLoaded" class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row profile align-items-center">
            <div class="col s7 push-s5 about-text">
                <h3 class="title dark-color">{{selectedUser.name}} {{selectedUser.surname}} <a routerLink="/user/{{selectedUser._id}}/editprofile" *ngIf="selectedUser._id == loggedUserId"><i class="material-icons dark-color" >edit</i></a></h3>

                <p>{{selectedUser.bio}}</p>
                <div class="row about-list">
                    <div class="col s6">
                        <div class="media">
                            <label class="dark-color">Birthday</label>
                            <p>{{userBirthday}}</p>
                        </div>
                        <div class="media">
                            <label class="dark-color">Age</label>
                            <p>{{userAge}}</p>
                        </div>

                        <div class="media">
                            <label class="dark-color">State</label>
                            <p>{{selectedUser.state}}</p>
                        </div>
                    </div>
                    <div class="col s6" id="aboutCol">
                        <div class="media">
                            <label class="dark-color">Address</label>
                            <p>{{selectedUser.address}}</p>
                        </div>

                        <div class="media">
                            <label class="dark-color">E-mail</label>
                            <p>{{selectedUser.email}}</p>
                        </div>

                        <div class="media">
                            <label class="dark-color">Phone</label>
                            <p>{{selectedUser.phone}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s5 pull-s7">
                <img src="{{selectedUser.profilePicUrl}}" title="" alt=""
                    class="avatar-image  circle responsive-img">
            </div>
        </div>

        <div class="row number-counter">
            <div class="counter">
                <div class="row">
                    <div class="flexbox">
                        <div class="col col-first">
                            <div class="count-data center">
                                <h6 class="count h2" data-to="500" data-speed="500">{{selectedUser.xChangedItems}}</h6>
                                <p class="m-0px font-w-600">XChanged items</p>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="count-data center">
                                <h6 class="count h2" data-to="150" data-speed="150">{{userProducts.length}}</h6>
                                <p class="m-0px font-w-600">Items in showcase</p>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="count-data center">
                                <h6 class="count h2" data-to="850" data-speed="850">0</h6>
                                <p class="m-0px font-w-600">Positive reviews</p>
                            </div>
                        </div>
                        <div class="col col-last">
                            <div class="count-data center">
                                <h6 class="count h2" data-to="190" data-speed="190">0</h6>
                                <p class="m-0px font-w-600">Negative reviews</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center" id="messageButton">
                    <a routerLink="/messages/{{loggedUserId}}/{{userId}}" class="waves-effect waves-light btn"><i
                            class="material-icons right">message</i>Send
                        Message</a>
                </div>
            </div>
        </div>

        <div class="section-divisor">
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="section-divisor">
            <p></p>
        </div>

    </div>
    <app-product-list [productList]="userProducts" [sellerId]="userId" class="productList"></app-product-list>

</section>
